# Data collection
requests
aiohttp>=3.9.0
rapidfuzz

# Data processing
pandas
numpy
pyarrow

# Machine learning
xgboost
scikit-learn
shap
optuna

# Optimisation
pulp

# Visualisation & dashboard
dash
dash-bootstrap-components
plotly
mplsoccer

# Deployment
gunicorn
